body 
{
	width: 960px; 
	background: #777; 
	content: #ebebeb; 
	font-size: 18px; 
	font-family: Arial; margin: 0 auto 0;

}
header 
{
	background: white; 
	margin: 10px; 
	padding: 20px; 
	text-align: center;
	height: 100px;
}
nav 
{ 
	background: white; 
	margin: 0px 10px 20px 10px; 
	padding: 20px; 
	text-align: center;
	height: 100px;
}
aside 
{
 	background: white; 
 	margin-right: 10px; 
 	padding: 20px; 
 	text-align: center; 
 	float: right; 
 	width: 425px;
 	height: 300px;
}
section 
{   
 	background: white; 
 	margin-left: 10px; 
 	margin-bottom: 20px;
 	text-align: center; 
 	padding: 20px; 
 	width: 495px; 
 	float: left; 
 	height: 300px;

}
article 
{   
	background: #777; 
	text-align: top; 
	margin: 10px; 
	padding: 20px;
	height: 90%;
 
	width:95%;
}

p
{
	background: white; 
	margin-top: 10px; height: 40%; padding: 20px;
}

div
{
	background: white; height: 40%; padding: 20px;
}



footer 
{   clear : both;
	background: white; 
	text-align: center; 
	padding: 20px;
	margin: 10px;
	height: 100px;
	
}

* {box-sizing: border-box;}


